.questionsSection-container{
    width: 100%;
    height: auto;
    background-color: #070B1C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}


.text-question{
    font-size: 24px;
    color: white;
}

.fa-times{
    font-size: 24px;
    color: white;
}

@media(max-width: 768px){
    .questionsSection-container{
        width: 90%;

    }
}