.question{
    color: white;
}

.questions-container{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .question{
        font-size: 18px;
    }

    .questions-container{
        width: 300px;
    }
}