.fa-face-smile{
  font-size: 40px;
  color: #ffa94d;
  margin-top: 50px;
}

.quiz-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}









